# ==============================================================
# PYTHON
# ==============================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.pyc
.pytest_cache/
*.db
*.sqlite3
*.log
*.pid

# Virtual environments & environment files
.venv/
venv/
.env
!.env.example

# ==============================================================
# BUILD / PACKAGING ARTIFACTS
# ==============================================================
build/
dist/
*.egg-info/
.eggs/
*.egg

# ==============================================================
# PROJECT DIRECTORIES
# ==============================================================
data/
logs/*
!logs/.gitkeep
backups/*
!backups/.gitkeep
pg-data/
airflow/

# ==============================================================
# DOCKER
# ==============================================================
.docker/
docker-temp/
*.bak
*.tmp

# ==============================================================
# EDITOR / IDE
# ==============================================================
.vscode/
.idea/
*.swp

# ==============================================================
# SYSTEM / OS FILES
# ==============================================================
.DS_Store
Thumbs.db
desktop.ini
